# Dependencias principales para esta aplicación Flask
Flask
psycopg2-binary
python-dotenv
Werkzeug

# Dependencia para despliegue en Railway (Linux)
gunicorn

# Opcionales para despliegue (descomentarlas si las usas)
# waitress  # Windows deployment
