<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Konectia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>

    <header>
        <nav>
            <div class="logo"> Campus Konectia</div>
            <ul class="nav-links">
                <li><a href="/">Inicio</a></li>
                <li><a href="/registro">Registro</a></li>
                {% if session.get('usuario') %}
                    <li><a href="/perfil">Mi Perfil</a></li>
                    <li><a href="/logout">Salir</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <h1>Campus Konectia</h1>

    {% block content %}
    
    {% endblock %}
        <button id="prev">Anterior</button>
        <button id="next">Siguiente</button>
    </div>
    
    <div id="pokemons" class="pokemon-container"></div>

     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5791.211245128472!2d-3.81492928755539!3d43.46883006421435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd494bae5d5dc7ef%3A0x8f1a3a80d58e2235!2sKonectia!5e0!3m2!1ses!2ses!4v1771443960048!5m2!1ses!2ses"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>

    
    <script src="{{ url_for('static', filename='Pokeapi.js') }}"></script>

</body>
</html>